html{
    height: 100%;
}
body{
    background-image: linear-gradient(to left top, rgba(0,0,0,1) 9%, rgba(0,53,114,1) 46%, rgba(245,255,131,1) 99%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
}

img {
    width: 10%;
}